:root {
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffdd44;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffcc00;
  text-decoration: inherit;
}
a:hover {
  color: #ffaa00;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffdd44;
  text-transform: uppercase;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ffcc00;
  border-radius: 4px;
  outline: none;
  background-color: #222;
  color: #ffdd44;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #ffaa00;
}

button {
  border-radius: 8px;
  border: 1px solid #ffcc00;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #222;
  color: #ffdd44;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  background-color: #ffcc00;
  color: #000000;
}

button:focus,
button:focus-visible {
  outline: 4px auto #ffcc00;
}

.result {
  margin-top: 20px;
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

.result h3 {
  color: #ffdd44;
}

.result h4 {
  color: #ffaa00;
}

.result a {
  color: #ffcc00;
}

.result a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
}

.footer-center {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 13px;
    color: #ffdd44;
    padding: 5px 10px;
}

